@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@
@{

    var products = (List<Product>)ViewData["Products"];
    
}

@{
    ViewData["Title"] = "Index";
}

<div class="gallerybanner"><img src="~/bannerImg/gallerybanner.png" style="width: 100%"></div>
<br>
<br>
<center>
    <form action="Product/Search" method="post">
        <input class="searchInput" type="text" name="searchText" placeholder="Search title..." />
    </form>
</center>
<br>
<br>
<div class="row">
    @foreach (var game in products)
    {
        <div class="row">
            <div class="col">
                <div class="product-card">
                    <div class="product-images"><img src=@game.ImgURL></div>
                    <div class="product-info">
                        <h1 class="gamename">@game.ProductName</h1>
                        <h2 class="gamedes">@game.ProductDesc</h2>
                    </div>
                    <div class="price">S$@game.UnitPrice </div>
                    <div><input type="button" class="addcart-button" value="Add to Cart" product-id="@game.Id" qty="1"></div>
                </div>
            </div>
        </div>
    }
</div>

