@{
    var products = (List<Product>)ViewData["Trial"];
    var searched = (string)ViewData["Searched"];
}


<div class="gallerybanner"><img src="~/bannerImg/gallerybanner.png" style="width: 100%"></div>
<br>
<br>
<center>
    <form action="Search" method="post">
        <input class="searchInput" type="text" name="searchText" placeholder="Search title..." />
    </form>
</center>
<h1 align-left>
       You have searched for <b>"@searched" </b> 
</h1>
<br>
<br>
<div class="row">
    @foreach (var game in products)
    {
        <div class="row">
            <div class="col">
                <div class="product-card">
                    <div class="product-images"><img src=@game.ImgURL></div>
                    <div class="product-info">
                        <h1 class="gamename">@game.ProductName</h1>
                        <h2 class="gamedes">@game.ProductDesc</h2>
                    </div>
                    <div class="price">S$@game.UnitPrice </div>
                    <div><input type="button" class="addcart-button" value="Add to Cart"></div>
                </div>
            </div>
        </div>
    }
</div>

