@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Log In";
}

<form class="col-sm-4 mx-auto" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["returnUrl"]" method="POST">
    <div class="alert-danger">@TempData["error"]</div>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" name="Email">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="Password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>