<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PwnedShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <nav class="topnav">
            <img class="imageshoplogo"><img src="~/bannerImg/pwnedshoplogo.png" style="height: 100%" ; />
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="" asp-action="">Homepage</a>
                </li>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="Game" asp-action="Index">All Games</a>
                </li>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="" asp-action=""><span style="color:#C10000">Hot Deals</span></a>
                </li>
            </ul>
        </nav>

        <div class="bottomnav">
            <a class="helloname">Hello, </a>
            <ul class="navbottom">
                <li class="bottomitem">
                    <a class="nav-link" asp-area="" asp-controller="" asp-action=""><i class="fas fa-cart-plus"></i></a>
                </li>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="" asp-action="">My Purchases <i class="fas fa-shopping-bag"></i></a>
                </li>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="" asp-action=""> Logout<i class="fas fa-sign-out-alt" style="float: left"></i></a>
                </li>
            </ul>
        </div>
        <div class="promobanner"><img src="~/bannerImg/offersbanner.png" style="width:100%;"></div>
    </header>

    <br />

    <div class="container-full">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-center">
        <div class="container-full">
            &copy; PWNED Shop - Since 2021
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
